



		h1 {
			text-align: center;
			font-family: 'Nanum Myeongjo', serif;
			font-size: 40px;
			padding-top: 100px;
			padding-bottom: 900px;
			font-weight:normal;
			}

		h3 {
			text-align: left;
			font-family: 'Nanum Myeongjo', serif;
			font-weight: normal;
			font-size: 100px;
			color:black;
			padding-left: 300px;
			kerning: 200px;
			margin-bottom: 90px;
			}

		

		#div1-wrapper {
	position:relative;
    padding-top: 0px;
    padding-right: 70px;
    padding-bottom: 0px;
    padding-left: 0px;
    z-index:-1;



			}


 body 	{
 		text-align: left;
		font-family: "franklin-gothic-urw-comp",sans-serif;
			font-size: 30px;
			left-padding: 100px;
		}


	#netherlands {
  			background-color: #F48FB1;
  			background-image: url(http://www.colorhexa.com/c45597.png);
  			height: 1400px;
  			width: 100%;
  			padding-top: 80px;
  			line-height: 40px;
  			text-transform: uppercase;
  			
				}
		#netherlands p {
			padding-left: 175px;
			margin-bottom: 75px;
			margin-right: 400px;
						}			

	#norway {
  			background-color: #C0CA33;
			background-image: url(https://www.beautycolorcode.com/937310-2048x1536.png);
  			background-repeat:no-repeat;
  			background-attachment: fixed;
  			background-size: cover;
  			text-transform: uppercase;

  			height: 900px;
  			width: 100%;
  			padding-top: 80px;
  			line-height: 40px;
			}
		#norway p {
			padding-left: 150px;
			margin-bottom: 75px;
			margin-right: 300px;
					}

	#denmark {
  			background-color: #F8BBD0;
  			background-image: url(http://html-color.org/EB8FBE.jpg)
  			height: 1200px;
  			width: 100%;
  			height:100%;
  			padding-top: 80px;
  			line-height: 40px;
  			text-transform: uppercase;
  		
			}
		#denmark p {
			padding-left: 75px;
			margin-bottom: 75px;
			margin-right: 400px;
					}

	#italy {
  			background-color: #FFA000;
  			background-image:url(http://www.colorhexa.com/f0593b.png);
  			height: 1000px;
  			width: 100%;
  			padding-top: 80px;
  			line-height: 40px;
  			text-transform: uppercase;
			}
		#italy p {
			padding-left: 200px;
			margin-bottom: 75px;
			margin-right: 200px;
				}

	#germany {
  			background-color: #FF6F00;
  			background-image: url(http://html-color.org/29468F.jpg);
  			height: 900px;
  			width: 100%;
  			padding-top:80px;
  			line-height: 40px;
  			text-transform: uppercase;
			}
		#germany p {
			padding-left: 50px;
			margin-bottom: 75px;
			margin-right: 400px;
					}
	#belgium {
  			background-color: #00ACC1;
  			background-image: url(http://www.colorhexa.com/dd4189.png);
  			height: 900px;
  			width: 100%;
  			padding-top: 80px;
  			line-height: 40px;
  			text-transform: uppercase;
			}
		#belgium p {
			padding-left: 200px;
			margin-bottom: 75px;
			margin-right: 200px;
						}
 